#back-to-top-btn:hover {
    background-color: #2e3c4c;
}

.brand-bar {
    width: 100%;
    background-color: #232F3E;
    color: white;
    height: 80px;
    border-top: 1px solid rgb(194, 191, 191);
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-bar-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #bec4cd;
    border: 1px solid #bec4cd;
    margin-inline: 10px;
    cursor: pointer;
}