.border {
    border: 2px solid transparent;
    border-radius: 1px;
}

.border:hover {
    border: 1px solid white;
}

.nav-bar {
    background-color: #0f1111;
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo-border {
    height: 90%;
    flex: 0.3;
    display: flex;
    margin-left: 1%;
    padding: 2px;
    cursor: pointer;
}

#nav-logo {
    background-image: url('../assets/img/logo.png');
    height: 5vh;
    width: 100%;
    min-width: 120px;
    background-size: cover;
    align-self: center;

}

.location-box {
    padding: 1%;
    cursor: pointer;
    flex: 0.2;
}

.dd-btn {
    display: flex;
    background-color: #E6E6E6;
    color: black;
    width: 5%;
    height: 5vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    align-items: center;
    cursor: pointer;
    flex: 1;
    min-width: 40px;
}

@media (max-width: 480px)
{
    .search {
        width: 0;
        visibility: hidden;
    }

    .returns-btn * {
        width: 0;
        visibility: hidden;
    }

    .location-box * {
        width: 0;
        visibility: hidden;
    }
}

@media (min-width: 480px) and (max-width: 1024px)
{
    .search {
        width: 0;
        visibility: hidden;
    }
}

@media (min-width: 1024px)
{
    .search {
       
    }
}

.search {
    margin-left: 1%;
    display: flex;
    height: 5vh;
    flex: 2;
}

.search-box {
    width: 80%;
    border: 0;
    padding-left: 10px;
    flex: 15;
}

.search-btn {
    background-color: #FEBD69;
    border: 0;
    height: 5vh;
    width: 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    flex: 1;
}

.language-btn-border {
    width: 70px;
    height: 35px;
    align-content: center;
}

.language-btn {
    display: flex;
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.language-btn-border:hover #language-dropdown {
    visibility: visible;
}

#accounts-btn:hover #accounts-dropdown {
    visibility: visible;
}

.account-options {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.account-options div {
    width: 50%;
    margin: 0;
    margin-left: 3%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.account-options a {
    text-decoration: none;
    color: rgb(67, 66, 66);
    font-size: 0.85rem;
}

#accounts-btn {
    width: 150px;
    height: 35px;
    padding-top: 5px;
}

.returns-btn {
    width: 90px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}


.cart-btn-border {
    width: 80px;
    height: 35px;
    align-content: center;
}

#cart-items {
    color: #FEBD69;
    font-weight: bold;
}

.cart-btn {
    justify-content: space-evenly;
    display: flex;
    align-self: center;
    cursor: pointer;
}


.options-bar {
    background-color: #232F3E;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    overflow-x: scroll;
    scrollbar-width: none;
}

.options-box {
    text-wrap: nowrap;
    height: 90%;
    padding-inline: 1%;
    align-content: center;
    font-size: 0.85rem;
    cursor: pointer;
    font-weight: 500;
}